body {
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
}

.landing {
  background-color: rgba(0, 0, 0, .4);
}

.brand,
.brand:hover {
  display: inherit;
  font-weight: 700;
  font-size: 5em;
  line-height: normal;
  text-align: center;
  margin: 0;
  padding: 10px 0 10px;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.brand:hover {
  text-decoration: none;
  text-shadow: 0px 0px 25px #fff;
}

.tagline-bar {
  display: inherit;
  text-align: center;
  margin: 0;
  padding: 0 0 10px;
  font-size: 1.25em;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

#page-wrapper {
  overflow: hidden;
  width: 100%;
}

#title-anchor {
  text-align: center;
}

#title-anchor input {
  width: 100%;
  text-align: center;
}

#title-anchor div .edit {
  display: none;
}

#title-anchor div.editing .edit {
  display: block;
}

#title-anchor div.editing .view {
  display: none;
}

#graph-root {
  text-align: center;
}

/* svg stuff */

path.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

marker#licensing {
  fill: green;
}

path.link.licensing {
  stroke: green;
}

path.link.resolved {
  stroke-dasharray: 0,2 1;
}

circle {
  fill: #ccc;
  stroke: #333;
  stroke-width: 1.5px;
}

text {
  font: 10px sans-serif;
  pointer-events: none;
}

text.shadow {
  stroke: #fff;
  stroke-width: 3px;
  stroke-opacity: .8;
}
